@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "barlowregular";
  src: url("/src/assets/fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "barlowextrabold";
  src: url("/src/assets/fonts/Barlow-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "barlowextrabolditalic";
  src: url("/src/assets/fonts/Barlow-ExtraBoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
